.formContainer {
	gap: 1rem;
}

.inputContainer {
	gap: 0.25rem;
	align-items: flex-start;
	width: 100%;
}

.inputContainer > label {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding-left: 0.25rem;
}

.inputContainer > input {
	outline: rgba(0, 0, 0, 0.2);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 0.15rem 0.25rem;
	width: 100%;
	box-shadow: rgba(50, 50, 93, 0.01) 0px 50px 100px -20px;
	transition: all 220ms ease-in-out;
}

.inputContainer > input:focus {
	border-bottom: 1px solid rgba(0, 0, 0, 0.9);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 150px 100px -20px;
	transition: all 220ms ease-in-out;
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
