.buttonStyle {
	font-weight: 500;
	font-size: 1rem;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 0.25rem;
	background-color: transparent;
	cursor: pointer;
	transition: all 250ms ease-in-out;
}
.buttonStyle:hover,
.buttonStyle:focus {
	outline: transparent;
	border: 1px solid black;
	transition: all 250ms ease-in-out;
}
